.precision-nutrition {
  font-family: courier;
  border: 5px solid lightgrey;
  padding: 5px;
  margin: 2px;
}

.precision-nutrition .nonstandard-host-warning {
  color: red;
  font-size: 65%;
}
.precision-nutrition .logo {
  width: 50px;
}

.precision-nutrition .error {
  border: 1px dotted red;
}

.precision-nutrition .errors {
  color: red;
}

.options h2
{
  margin-bottom: 0px;
}

.options #status
{
  font-size: 150%;
  color: green;
}
